<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Datatekniker - Jozsef Bali</title>
    </head>
    <body>
        <!-- Container -->
        <div class="container">
            <!-- left panel -->
            <div class="left-panel">
                <div class="left-container">
                    <div class="hero-top">
                        <p class="hello">HELLO</p>
                    </div>
                    <div class="hero-Middle">
                        <p class="heroName">Jeg er datatekniker med speciale i
                            programmering</p>
                    </div>
                    <div class="hero-Bottom">
                        <a href="#contact-section" class="contact-button">Lad os
                            arbejde sammen</a>
                        <!-- <a href="#contact-page" class="contact-button">Download CV</a> -->
                    </div>
                </div>
            </div>
            <!-- right panel -->
            <div class="right-panel">
                <section id="coverimage-section">
                    <i class="fa-solid fa-circle-arrow-up fa-4x"></i>
                    <img src="assets/Images/profilepicblueish.png" alt="">
                </section>
                <section id="about-section">
                    <div class="text-inner about">
                        <h1 class="h1-about">Om Mig</h1>
                        <hr>
                        <p class="about-top">
                            Jeg kan godt lide at arbejde sammen med mine
                            kolleger for at
                            implementere alle vores ideer ned til sidste pixel.
                            Hver dag bruger jeg moderne front-end /
                            back-end-teknologier,
                            der bringer den kreative proces ud i livet, præcis
                            som vi
                            planlagde den.
                        </p>

                        <h4>Teknisk</h4>
                        <p class="about-text">
                            Jeg arbejder i øjeblikket med Unity 3D. Heldigvis
                            fik jeg chancen
                            for at opleve, hvordan Unity spiludvikling er.
                            Derudover har jeg også udført mange andre projekter
                            for eksempel i
                            Angular, TypeScript, C#, .NET, Asp.NET,
                            og generelt alt hvad der er relateret til,
                            HTML og CSS.
                            Desværre er det indtil videre kun i skolepraktik.
                        </p>

                        <h4>Personlig</h4>
                        <p class="about-text">
                            Jeg voksede op i Ungarn og flyttede til Danmark for
                            år tilbage.
                            Når der er mulighed, prøver jeg at besøge familie i
                            Ungarn, når
                            jeg kan.
                            Men jeg kan virkelig godt lide at være her i Danmark
                            også,
                            stadig ikke perfekt i dansk sprog, men jeg prøver at
                            øve (kæmper)
                            med sproget.
                            <br> <br>
                            Så lad os arbejde sammen!
                        </p>
                        <hr>


                    </div>
                </section>

                <section id="task-section">
                    <div class="text-inner task">
                        <div class="grid-container">
                            <div class="grid-item"><p class="grid-text"> Efter
                                    at have fuldført
                                    alle andre skolepraktik opgaver, fik
                                    jeg muligheden for at prøve Unity
                                    spiludvikling.
                                    Helt fra det grundlæggende. Jeg designede og
                                    implementerede et
                                    hordeskydespil i Unity 3D. </p>
                                <div class="grid-icon-container">
                                    <a
                                        href="https://www.youtube.com/watch?v=ryiszhpz8Us&t=241s"
                                        title="Video link" target="_blank"><i
                                            class="fa-brands
                                            fa-youtube fa-4x icon"></i></a>
                                    <a
                                        href="https://github.com/Fenrir-Codes/Unity-Codebase"
                                        title="Github link" target="_blank"><i
                                            class="fa-brands
                                            fa-github fa-4x icon"></i></a>
                                </div>
                            </div>
                            <div class="grid-item">
                                <p class="grid-title">
                                    Keylogger
                                </p>
                                <p class="grid-text"> Keylogger console
                                    applikation.</p>
                                <div class="grid-icon-container">
                                    <a
                                        href="https://github.com/Fenrir-Codes/V-Logger/tree/main/V-Logger"
                                        title="Github link" target="_blank"><i
                                            class="fa-brands
                                            fa-github fa-4x icon"></i></a>
                                </div>
                            </div>
                            <div class="grid-item">
                                <p class="grid-title">
                                    BinaryClock
                                </p>
                                <p class="grid-text">Eksamens opgave -
                                    Jeg skulle lave et binært ur i c# Console
                                    appliktion.</p>
                                <div class="grid-icon-container">
                                    <a
                                        href="https://github.com/Fenrir-Codes/BynaryClock"
                                        title="Github link" target="_blank"><i
                                            class="fa-brands
                                            fa-github fa-4x icon"></i></a>
                                </div>
                            </div>
                            <div class="grid-item">
                                <p class="grid-title">
                                    Cinema site API
                                </p>
                                <p class="grid-text"> Team opgave - Vi skulle
                                    lave en Cinema site API i ASP.Net core /
                                    Entity
                                    framework back-end og Angular front-end.</p>
                                <div class="grid-icon-container">
                                    <a
                                        href="https://github.com/Fenrir-Codes/H3-CinemaProject-API-JB-RFK"
                                        title="Github link" target="_blank"><i
                                            class="fa-brands
                                            fa-github fa-4x icon"></i></a>
                                </div>
                            </div>
                            <div class="grid-item">
                                <p class="grid-title">
                                    Hoteller i Paris
                                </p>
                                <p class="grid-text">
                                    Eksamens opgave -
                                    Dette var en eksamensopgave, hvor vi skulle
                                    lave et konsole applikation, hvilket ud fra
                                    det givne pengebeløb viste,
                                    hvor dyrt et hotel vi har råd til.
                                </p>
                                <div class="grid-icon-container">
                                    <a
                                        href="https://github.com/Fenrir-Codes/Opgave---Hoteller-i-Paris"
                                        title="Github link" target="_blank"><i
                                            class="fa-brands
                                            fa-github fa-4x icon"></i></a>
                                </div>
                            </div>
                            <div class="grid-item">
                                <p class="grid-title">
                                    CMIS -
                                    Gæsteregistering
                                </p>
                                <p class="grid-text">
                                    Det første projekt, jeg skulle lave i løbet
                                    af grundforløbet,
                                    dette var den første eksamensopgave.
                                    Baseret på opgaven er dette en
                                    konsolapplikation, hvor gæster kan
                                    registreres og gemmes data i en fil.
                                </p>
                                <div class="grid-icon-container">
                                    <a
                                        href="https://www.youtube.com/watch?v=1y4VOFROKt8"
                                        title="Video link" target="_blank"><i
                                            class="fa-brands
                                            fa-youtube fa-4x icon"></i></a>
                                    <a
                                        href="https://docs.google.com/presentation/d/1EVlU8xaJJU90Hpv60l-BCoI8BjY5mQuZ/edit?usp=sharing&ouid=113078365834604106230&rtpof=true&sd=true"
                                        title="Github link" target="_blank"><i
                                            class="fa-solid fa-file-powerpoint
                                            fa-4x icon"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="contact-section">
                    <div class="text-inner contact">
                        <h1 class="h1-contact">Kontakt mig</h1>
                        <ul class="contact-list">
                            <li class="list-item"><i class="fa-solid
                                    fa-location-dot
                                    fa-2x"><span
                                        class="contact-text place">Copenhagen,
                                        Denmark</span></i></li>
                            <li class="list-item"><i class="fa-solid fa-phone
                                    fa-2x"><span
                                        class="contact-text phone"><a
                                            href="tel:1-212-555-5555"
                                            title="Give me a call">(45)
                                            42997526</a></span></i></li>
                            <li class="list-item"><i class="fa-solid fa-envelope
                                    fa-2x"><span
                                        class="contact-text gmail"><a
                                            href="mailto:vorago01@gmail.com"
                                            title="Send me an email">vorago01@gmail.com</a></span></i></li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </body>
</html>
